.cards {
  display: flex;
  justify-content: center;
  margin-top: 40px;
}


.card {
  display: flex;
  gap: 30px;
  padding: 25px;
  background: #f5f5f5;
  border-radius: 18px;
  max-width: 900px;
}


.card-img {
  background: white;
  padding: 20px;
  border-radius: 14px;
}

.image {
  width: 220px;

}

.card-content {
  max-width: 450px;
}

.title {
  font-size: 20px;
  margin-bottom: 10px;
}

.price {
  margin-bottom: 10px;
}

.new-price {
  font-size: 24px;
  font-weight: bold;
}


.stars {
  color: #00c9a7;
  font-size: 16px;
  margin: 6px 0;
}


.info {
  font-size: 14px;
  color: #555;
  margin-bottom: 12px;
}


.stock {
  display: flex;
  gap: 20px;
  font-size: 14px;
  margin-bottom: 15px;
}


.timer {
  display: flex;
  gap: 10px;
  margin-bottom: 18px;
}

.timer div {
  background: #00c9a7;
  color: black;
  padding: 6px 10px;
  border-radius: 8px;
  text-align: center;
  font-size: 12px;
}

.timer b {
  display: block;
}


.btn {
  background: black;
  color: white;
  border: none;
  padding: 12px 22px;
  border-radius: 10px;
  cursor: pointer;
  font-weight: 600;
  transition: 0.3s;
}

.btn:hover {
  background: #00c9a7;
  color: black;
}
