.mac_banner {
    margin-top: 100px;
  width: 100%;
  height: 220px;
  border-radius: 16px;
  padding: 30px 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: linear-gradient(90deg, #fdecec, #e7f6ff);
}

.mac_left {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.mac_logo {
  width: 40px;
}

.mac_left h2 {
  font-size: 22px;
  font-weight: 600;
}

.mac_left ul {
  list-style: none;
  padding: 0;
  font-size: 13px;
  color: #444;
}

.mac_left ul li {
  margin-bottom: 4px;
}

.mac_right {
  text-align: right;
}


.new_price {
  font-size: 32px;
  font-weight: bold;
}

.credit {
  font-size: 13px;
  color: #444;
  margin: 6px 0 12px;
}

.mac_right button {
  padding: 10px 18px;
  background: black;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}
