
.product-image img {
  width: 100%;
  height: 100%;
  object-fit: contain; 
  display: block;
}


.product-image {
  background-color: #f5f5f5;
  height: 250px;
  margin-bottom: 15px;
  position: relative;
  border-radius: 4px;
  display: flex;         
  align-items: center;    
  justify-content: center;
  overflow: hidden;       
}

.product-card {
  text-align: center;
  background: #fff;
  padding: 15px;
  transition: 0.3s;
  border: 1px solid #eee; 
  display: flex;          
  flex-direction: column; 
}


.footer {
  background-color: #1a1a1a; 
  color: #ffffff;
  padding: 60px 0;
  font-family: 'Inter', sans-serif;
}

.footer-container {
  max-width: 1200px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1.5fr 1fr 1fr 1.2fr; 
  gap: 40px;
  padding: 0 20px;
}

.footer-logo {
  font-size: 24px;
  font-weight: 800;
  margin-bottom: 20px;
  letter-spacing: 1px;
}

.footer-desc {
  font-size: 14px;
  color: #b0b0b0;
  line-height: 1.6;
  margin-bottom: 25px;
}


.newsletter {
  display: flex;
  gap: 10px;
}

.footer-input {
  background: white;
  border: none;
  padding: 12px 15px;
  border-radius: 8px;
  flex: 1;

}

.submit-btn {
  background-color: #00f2ff; 
  color: #000;
  border: none;
  padding: 12px 25px;
  border-radius: 8px;
  font-weight: bold;
  cursor: pointer;
  transition: 0.3s;
}

.submit-btn:hover {
  background-color: #00c8d4;
}


.footer-section h3 {
  font-size: 18px;
  margin-bottom: 20px;
  font-weight: 600;
}

.footer-section ul {
  list-style: none;
  padding: 0;
}

.footer-section ul li {
  margin-bottom: 12px;
}

.footer-section ul li a {
  color: #b0b0b0;
  text-decoration: none;
  font-size: 14px;
  transition: 0.3s;
}

.footer-section ul li a:hover {
  color: #00f2ff;
}


.contact-list li {
  display: flex;
  gap: 10px;
  color: #b0b0b0;
  font-size: 14px;
}

.contact-list .icon {
  color: #fff;
  margin-top: 3px;
}

.service-time {
  margin-top: 20px;
}

.service-time h4 {
  font-size: 16px;
  margin-bottom: 5px;
}

.service-time p {
  color: #b0b0b0;
  font-size: 14px;
}

